.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 412px;
    height: 416px;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 30px;
    padding: 32px;
    display: flex;
    flex-direction: column;

    h1 {
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
        color: #FFFFFF;
        margin-bottom: 7px;
        height: 43px;
    }

    p {
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #969FAD;
        max-width: 340px;
        margin-bottom: 24px;
        height: 72px;
    }
}

.card-center {
    width: 412px;
    height: 416px;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 30px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oval {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #262E38;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.number-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 340px;
}

.number {
    color: #7C8798;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 32px;
    transition: 0.3s ease-in-out;

    &:hover {
        background: #FC7614;
        color: #FFFFFF;
        cursor: pointer;
    }
}

.submit-button {
    background: #FC7614;
    border-radius: 22.5px;
    height: 45px;
    border: none;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;

    &:hover {
        color: #FC7614;
        background: #FFFFFF;
        cursor: pointer;
    }
}

.number-active {
    background: #7C8798;
    color: #FFFFFF;
}

.selected {
    background: #262E38;
    border-radius: 22.5px;
    max-width: 193px;
    color: #FC7614;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.thank-title {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    margin-bottom: 7px;
}

.second-text {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #969FAD;
    max-width: 340px;
}
// font-family: 'Overpass', sans-serif;